.App {
  text-align: top;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
  max-width: 100%;
  min-height: 100%;
  padding: 0;
}
.App-header {
  margin: auto;
  min-height: 100%;
}

body,
html,
#root {
  height: 100%;
}

div.HeaderBtn a {
  float: right;
  margin-left: 1rem;
}

.App-link {
  color: #09d3ac;
}
h1 {
  font-size: 100pt;
}
