.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;

}

.board-row {
  align-items: center;
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #282c34;
  border: 1px solid white;
  float: left;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  line-height: 34px;
  height: 32px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 32px;
  color: white;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: white;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}


.square.win {
  color: #ff033e;
  font-size: 15pt;
  transition: 5s;
}

.Btn {
  background-color: #282c34;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  color: white;
  border: 2px solid gray;
  border-radius: 4px;
  text-align: center;
  transition: 0.5s
}

.Reset {
  width: 100px;
  height: 50px;
  font-size: calc(10px + 2vmin);
}

.Btn:hover {
  background-color: darkcyan;
  transition: 0.5s
}

.Step {
  width: 400px;
  height: 30px;
  font-size: 12pt;
}
.Step:hover {
  background-color: darkcyan;
  transition: 0.5s
}

.Step.Choose {
  background-color: #008080;
  font-weight: bold;
  transition: 0.5s;
}
.Reverse {
  width: 150px;
  height: 30px;
  font-size: 12pt;
}